body {
   overflow-x: hidden;
}
main h1 {
   margin: 10px 0 20px 0;
}
.anketa_wrapper, .headerMenu {
   max-width: 1430px;
   margin: auto;
   padding: 0 15px 0 15px;
}
.headerMenu {
   margin-bottom: 40px;
}
.anketa_wrapper {
   display: flex;
   flex-wrap: wrap;;
   h1 {
      font-size: 30px;
      line-height: 32px;
      margin-bottom: 15px;
   }
   p {
      font-size: 12px;
      line-height: 18px;
   }
   @media (min-width: 1400px) {
      flex-wrap: nowrap;
      h1 {
         font-size: 60px;
         line-height: 3.5rem;
         margin-bottom: 15px;
      }
      p {
         font-size: 14px;
         line-height: 22px;
      }
   }
}
.anketa {
   max-width: 750px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   position: relative;
   padding-right: 30px;
   order: 2;
   .el-checkbox, .el-radio {
      width: 100%;
      --el-checkbox-font-size: 12px;
      --el-radio-font-size: 12px;
      align-items: flex-start;
      white-space: pre-wrap;
      height: auto;
      padding-bottom: 10px;
   }
   .el-checkbox__label, .el-radio__label {
      line-height: 16px;
      white-space: normal;
   }
   sup {
      color: red;
   }
   h3 {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 10px;
   }
   @media (min-width: 1400px) {
      padding-bottom: 40px;
      order: 0;
      .el-checkbox, .el-radio {
         // width: auto;
         --el-checkbox-font-size: 14px;
         --el-radio-font-size: 14px;
         white-space: nowrap;
         height: auto;
         padding-bottom: 10px;
      }
      .el-checkbox__label, .el-radio__label {
         line-height: 16px;
      }
      sup {
         color: red;
      }
      h3 {
         font-size: 16px;
         line-height: 20px;
         margin-bottom: 10px;
      }
   }
}
.anketaText {
   max-width: 750px;
   margin: auto;
   order: 0;
   .el-button--large {
     --el-button-size: 40px;
   }
   @media (min-width: 1400px) {
      margin: 0;
   }
}
.promoBlock {
   position: relative;
   margin-bottom: 20px;
   @media (min-width: 1400px) {
      display: flex;
      flex-wrap: wrap;
   }
   h3 {
      margin: 15px 0 10px 0;
      width: 100%;
   }
   .getPromoInput {
      max-width: 300px;
      margin: 0 15px 15px 0;
      @media (min-width: 1400px) {
         max-width: 220px;
      }
   }
   .getPromoBtn {
      @media (min-width: 1400px) {
         // margin: 15px;
      }
   }
}
.rutecLogo {
   position: absolute;
   right: 0;
   bottom: -60px;
   @media (min-width: 1400px) {
      right: 120px;
      bottom: -25px;
   }
}
.optionsGroup {
   width: 100%;
   margin-bottom: 5px;
   &.inputs {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
      h3 {
         width: 100%;
      }
      .inputGroup {
         margin-right: 10px;
      }
   }
   @media (min-width: 1400px) {
      margin-bottom: 15px;
   }
}
.inputGroup {
   font-size: 12px;
   max-width: 150px;
   @media (min-width: 1400px) {
      font-size: 14px;
   }
}
.el-radio-group {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   .el-radio {
      width: 100%;
   }
}
.recomendationBtn, .recomendationBtnDanger {
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   min-height: 50px;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 16px;
   font-weight: bold;
   background-color: #999;
   text-align: center;
   cursor: default;
   &.active {
      cursor: pointer;
      background-color: #409EFF;
   }
   @media (min-width: 1400px) {
      min-height: 60px;
      font-size: 20px;
   }
}
.recomendationBtn {
   z-index: 2;
}
.recomendationBtnDanger {
   padding: 0 15px 0 15px;
   height: 30px;
   font-size: 14px;
   line-height: 16px;
   bottom: 50px;
   background-color: red !important;
   display: none;
   &.active {
      z-index: 1;
      display: flex;
      cursor: default !important;
   }
   @media (min-width: 1400px) {
      font-size: 18px;
      line-height: 22px;
      bottom: 60px;
   }
}
.deleteProductBtn {
   margin-left: 10px;
}
.constructorBlock {
   margin-top: 15px;
   h3 {
      margin-bottom: 5px;
   }
}
.constructorInputGroup {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   margin-bottom: 5px;
   .el-select {
      margin-right: 15px;
   }
   label {
      width: 100%;
      padding-right: 15px;
   }
}
.iputData {
   display: flex;
   flex-wrap: nowrap;
   width: 100%;
}
.constructPrevCard {
   h3 {
      margin-bottom: 5px;
   }
   margin-bottom: 20px;
   .el-input {
      margin-bottom: 10px;
   }
}
.btnsControlConstructor {
   margin-top: 35px;
}
.tabsMainWrapper {
   max-width: 1000px;
   margin: auto;
   overflow: hidden;
}
.el-notification__content {
   text-align: left;
}
.el-notification__content p {
   text-align: left;
}
.el-message {
   min-width: 280px !important;
}
.el-card {
   max-width: 1400px;
}
.headerLogo {
   position: relative;
   z-index: 1;
   image {
      @media (min-width: 450px) {
         height: 70px;
      }
   }
}